

/* .header {
    height: 95vh;
    background-image: linear-gradient(to right, #7ed56f60, #28b48560) ,url("https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    background-position: top;

    /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 50% 100%, 0 75vh) */
